body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

figcaption {
  font-size: 0.80em;
}

nav {
  padding-left: 10px;
  padding-right: 10px;
}

#featured-property {
  text-align: center;
}

div {
  float: left;
  background-color: red;
  width: 25%;
}